<mat-toolbar color="primary">
  <span>Event Management</span>

  <!-- Show Search & Add Button Only on /events Route -->
  <div class="header-actions" *ngIf="isEventsPage">
    <mat-form-field  class="search-field" floatLabel="never">
      <input matInput placeholder="Filter events" [(ngModel)]="searchText" 
             (keydown.enter)="filterEvents()">
    </mat-form-field>
    <button mat-raised-button color="accent" [routerLink]="['/event/add']">Add Event</button>
  </div>
</mat-toolbar>

<!-- Router Outlet -->
<router-outlet></router-outlet>
